hvplot==0.12.2
jax==0.4.28
jaxlib==0.4.28
joblib==1.5.2
matplotlib==3.10.7
pandas==2.3.3
pennylane==0.42.3
PennyLane-qiskit==0.42.0
qiskit==1.2.4
torch==2.4.1
# if ml-dtypes dependency installation error
# pip install ml-dtypes --only-binary :all: